.App {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  background-color: black;
  /*  background-image: url("./images/justiceleague.jpg");
  background-position: center;
  background-size: cover;
*/
  color: black;
}

#film-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0% 5%;
  margin-top: 5%;
}

h1 {
  color: white;
}

/* .film-card {
  width: 50px;
} */
